*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    overflow: hidden;
}

body button{
    border: none;
}

nav{
    margin-bottom: 20px;
}

#logo{
    margin-left: 10px;
    position: relative;
    height: 80px;
    width: 80px;
    border: 2px solid #0d8dd6;
    overflow: hidden;
    border-radius: 50%;
}

#logo img{
    position: absolute;
    width: 98%;
    border-radius: 50%;
    height: 98%;
    margin: 2%;
    top: 48%;
    left: 48%;
    transform: translate(-50%, -50%);
}

li.nav-item.dropdown {
    margin-left: 15px;
}

.main {
    margin-top: 20px;
    padding: 0;
    margin: 0 1%;
    height: 600px;
    width: 98%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.toolbar {
    width: 250px;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    /* background: #0d6efd7a; */
    background: rgb(86,81,159);
    background: linear-gradient(184deg, rgba(86,81,159,1) 22%, rgba(113,113,255,1) 65%, rgba(60,108,249,0.6786064767703957) 100%);
    overflow: auto;
}

button.tool {
    background: none;
    border: none;
    margin: 5px;
    position: relative;
}

button.tool:hover, button.tool.active{
    background-color: #a6bbdb7a;
}

button.toolbar img{
    position: absolute;
    width: 80%;
    height: 80%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.canvas-container {
    height: 600px;
    width: 100%;
    border: 2px solid;
    overflow: hidden;
}

.text-toolbar {
    height: 100%;
    width: 35px;
    overflow: hidden;
    position: relative;
    background: #e7ebee;
    -webkit-transition: all 0.5s 0s ease;
    -moz-transition: all 0.5s 0s ease;
    -o-transition: all 0.5s 0s ease;
    transition: all 0.5s 0s ease;
}

.text-toolbar.open{
    width: 350px;
}

.text-toolbar .arrow-container{
    position: absolute;
    top: 2px;
    left: 2px;
    transform: rotate(180deg);
    -webkit-transition: all 0.5s 0s ease;
    -moz-transition: all 0.5s 0s ease;
    -o-transition: all 0.5s 0s ease;
    transition: all 0.5s 0s ease;
}

.text-toolbar .arrow-container.open{
    transform: rotate(0deg);
}

div#text-wrapper {
    font-family: 'Times New Roman', Times, serif;
    height: 100%;
    width: 100%;
    overflow: hidden;
    padding: 15px;
    margin-top: 15px;
    display: none;
    align-content: center;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    -webkit-transition: all 0.5s 0s ease;
    -moz-transition: all 0.5s 0s ease;
    -o-transition: all 0.5s 0s ease;
    transition: all 0.5s 0s ease;
}

div#text-wrapper.open{
    display: flex;
}

.form-select{
    width: 100px;
    display: inline-block;
}

div#text-controls-additional {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#bold{
    font-weight: bold;
}

#italic{
    font-style: italic;
}

#underline{
    text-decoration: underline;
}

#linethrough{
    text-decoration: line-through;
}

#overline{
    text-decoration: overline;
}