@import url('https://fonts.googleapis.com/css?family=Pacifico|VT323|Quicksand|Inconsolata|Tangerine|Palette Mosaic|MonteCarlo');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    overflow: hidden;
}

body button{
    border: none;
}

nav{
    margin-bottom: 20px;
}

#logo{
    margin-left: 10px;
    position: relative;
    height: 80px;
    width: 80px;
    border: 3px solid #00bdb3;
    overflow: hidden;
    border-radius: 50%;
}

#logo img{
    position: absolute;
    width: 150%;
    border-radius: 50%;
    height: 150%;
    margin: 2%;
    top: 58%;
    left: 50%;
    transform: translate(-50%, -50%);
}

nav label{
    width: 100%;
    cursor: pointer;
}
input#open{
    display: none;
}

li.nav-item.dropdown {
    margin-left: 15px;
}

.main {
    margin-top: 20px;
    padding: 0;
    margin: 0 1%;
    height: 600px;
    width: 98%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.toolbar {
    width: 250px;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    /*background: linear-gradient(184deg, rgba(86,81,159,1) 22%, rgba(113,113,255,1) 65%, rgba(60,108,249,0.6786064767703957) 100%);*/
    /* background: linear-gradient(184deg, rgb(59 0 63 / 58%) 22%, rgba(113,113,255,1) 65%, rgba(60,108,249,0.6786064767703957) 100%); */
    background: linear-gradient( 70deg, #00bdb3 50%, #193937de 100%);
    overflow: auto;
}

button.tool {
    background: none;
    border: none;
    margin: 5px;
    position: relative;
}

button.tool:hover, button.tool.active{
    background-color: rgb(0 0 0 / 13%);
    border-radius: 10%;
}

button.toolbar img{
    position: absolute;
    width: 80%;
    height: 80%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.canvas-container {
    height: 600px;
    width: 100%;
    border: 2px solid;
    overflow: hidden;
}

.text-toolbar {
    height: 100%;
    width: auto;
    padding: 15px;
    display: flex;
    overflow: hidden;
    position: relative;
    background: #e7ebee;
    background: linear-gradient( 70deg, #00bdb3 50%, #193937de 100%);
}

.text-icons {
    height: 100%;
    width: 50px;
    display: flex;
    align-content: center;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
}

.text-icons button img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
}

.text-icons button{
    background: transparent;
    width: 38px;
    height: 40px;
    position: relative;
    overflow: hidden;
}

div#text-wrapper {
    font-family: 'Times New Roman', Times, serif;
    height: 100%;
    width: 0px;
    display: none;
    overflow: hidden;
    align-content: center;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    -webkit-transition: all 0.5s 0s ease;
    -moz-transition: all 0.5s 0s ease;
    -o-transition: all 0.5s 0s ease;
    transition: all 0.5s 0s ease;
}

div#text-wrapper.open{
    display: flex;
    width: 350px;
    margin-left: 12px;
}

div#text-wrapper div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 40px;
    font-weight: 800;
    line-height: .8;
}

input {
    background: transparent;
    border: navajowhite;
}

.form-select{
    width: 120px;
    display: inline-block;
}

div#text-controls-additional {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

div#text-controls-additional input{
    opacity: 0;
}

div#text-controls-additional label{
    cursor: pointer;
    padding: 10px;
    border-radius: 10px;
}

div#text-controls-additional label.selected{
    background-color: rgb(0 0 0 / 13%);
}



#bold{
    font-weight: bold;
}

#italic{
    font-style: italic;
}

#underline{
    text-decoration: underline;
}

#linethrough{
    text-decoration: line-through;
}

#overline{
    text-decoration: overline;
}